@import '@/styles/reset.css';

:root{
  --main-bg-color: #F0F3FB;
  --notification-bg-color: #ffffff;
  --text-color: #151626;
  --success-color: #22C55E;
  --information-color: #3B82F6;
  --warning-color: #F97316;
  --error-color: #EF4444;
}

* {
  box-sizing: border-box;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--main-bg-color);
}

.toast-notification{
  width: 439px;
  height: 76px;
  display:flex; 
  align-items: center;
  border-radius: 8px;
  padding: 26px 16px;
  background-color: var(--notification-bg-color);
}

.toast-notification span{
  font-size: 20px;
  color: var(--text-color)
}

.toast-notification svg {
  cursor: pointer;
}

.toast-notification > svg:first-child{
  margin-right: 32px;
}

.notification-cancel{
  margin-left: auto;
}

.notify-info{
  box-shadow: inset 0 -4px var(--information-color);
}

.notify-success{
  box-shadow: inset 0 -4px var(--success-color);
}

.notify-warning{
  box-shadow: inset 0 -4px var(--warning-color);
}

.notify-error{
  box-shadow: inset 0 -4px var(--error-color);
}

.notification-setter{
  display: grid;
  place-items: center;
  width: 512px;
  height: 505px;
  padding: 50px 36px;
  background-color: var(--notification-bg-color);
  border-radius: 8px; 
}

.notification-setter button{
  width: 100%;
  padding: 21px 162px;
  border-radius: 8px;
  font-size: 28px;
  font-weight: bolder;
  color: var(--notification-bg-color);
}

.notification-setter > .info{
  background-color: var(--information-color);
}

.notification-setter > .success{
  background-color: var(--success-color);
}

.notification-setter > .warning{
  background-color: var(--warning-color);
}

.notification-setter > .error{
  background-color: var(--error-color);
}